# Environment files
.env
.env.local
.env.*.local
.env.development
.env.production

# Ignore Python cache
__pycache__/

# Ignore logs
*.log

# Ignore API keys
*.key

# Dependencies
node_modules/
venv/

# Build outputs
dist/
build/
.vercel

# Backend secrets
backend/.env.secrets
backend/.env.secrets.template